{% extends 'base.html' %}

{% block title %}Homepage{% endblock %}

{% block container %}
    <form action="{% url 'homepage' %}" method="get">
        <label for="select_category">Select category:</label>
        <select name="category" id="select_category">
            <option value="" selected>All</option>
            {% for item in categories_list %}
                <option value="{{item.slug}}">{{item.name}}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Select">
    </form>

    {% if user.is_authenticated %}
        <br><b><a href="{% url 'create_product' %}">Create new product</a></b>
        <br><br><b><a href="{% url 'create_category' %}">Create new category</a></b>
    {% endif %}

    <h2>Products:</h2>
    <ul>
        {% for item in object_list %}
            <li>
                <a href="{% url 'product' item.slug %}">{{ item.name }}</a>
                {% if not item.quantity %}
                   not available
                {% endif %}
            </li>
        {% endfor %}
    </ul>

{% endblock %}
